@font-face {
  font-family: "Gilroy";
  src: url(../Fonts/Gilroy-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url(../Fonts/Gilroy-Bold.ttf);
  font-weight: bold;
  font-style: Bold;
}

@font-face {
  font-family: "Gilroy";
  src: url(../Fonts/Gilroy-Light.ttf);
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url(../Fonts/Gilroy-SemiBold.ttf);
font-weight: 600;
  font-style: normal;
}




@import "reset";
@import "variables";
@import "mixins";


body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
background-color: $bg-color;
font-family: 'Gilroy', sans-serif;


}


html,body {
  height: 100%;
}

h1,h2,h3,h4,h5,h6 {
  padding: 0;
  margin: 0;
}


//first block///

.container {
<<<<<<< HEAD

=======
>>>>>>> main
  max-width: 90%;
  margin: 0 auto;
  box-sizing: border-box;
  height: 100%;
}

.first-block {

  width: 100%;
}

.header {

  height: 101px;

}

.header__menu {
  @include d-f-jc-sb-ai-c;
  width: 100%;
  height: 100%;

}

.header__logo {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.menu__logo {
  @include logo-margin;
  width: 91px;
  height: 35px;
}

.logo__text {
  color: $color-secondary;
  text-align: center;
  font-family: Gilroy,sans-serif;
  font-size: 2em;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: -0.7px;
  text-decoration: none;
 @include logo-margin;
}

.logo__text--uppercase {
  color: $color-secondary;
  font-family: Gilroy-Medium,sans-serif;
  font-size: 2em;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.7px;
  text-transform: uppercase;

}

.logo__link {

  width: 100%;

}



.menu-btn{
  display: flex;
  align-items: center;
  position: absolute;
  top: 40px;
  right:145px;
  width: 35px;
  height: 35px;
  cursor: pointer;
  z-index: 2;

}

.menu-btn > span,
.menu-btn > span::before,
.menu-btn > span::after {
  display: block;
  position: absolute;
  transition-duration: .25s;
}
.menu-btn > span::before {

}
.menu-btn > span::after {

}

.burger--menu {

}

.burger--title {

  color: $color-primary;
  text-align: center;
  font-family: Gilroy-SemiBold,sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;



}


.menubox{
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  right: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: $bg-color;
  box-shadow: 1px 0 6px rgba(0, 0, 0, .2);
  transition-duration: .25s;
  z-index: 1;
}


.menu-item {
  display: block;
  padding: 12px 24px;
  color: $color-primary;
  font-family: Manrope, sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: .25s;

  &:hover {
    background-color: rgba(49, 46, 46, 0.6);
    color: $bg-color;
  }

}




#menu-toggle{
  opacity: 0;
}



#menu-toggle:checked ~ .menu-btn > span{

}
#menu-toggle:checked ~ .menu-btn > span::before{

}
#menu-toggle:checked ~ .menu-btn > span::after{


}
#menu-toggle:checked ~ .menubox{
  visibility: visible;
  right: 0;
}



.main-title {
  text-align: center;
  margin: 30px 0;
  position: relative;
}

.main-subtitle {
  color: $color-primary;
  text-align: center;
  font-family: Gilroy-SemiBold, sans-serif;
  font-size: 8.5em;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.main-subtitle--text {
  color: $color-primary;
  font-family: Gilroy, sans-serif;
  font-size: 150px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-transform: capitalize;
}

.main-title:after {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='42' viewBox='0 0 28 42' fill='none'%3E%3Cpath d='M14 38.3625L14 1' stroke='%23252525' stroke-width='2' stroke-linecap='square' stroke-linejoin='round'/%3E%3Cpath d='M1.5459 28.5458L14.0001 41L26.4542 28.5458' stroke='%23252525' stroke-width='2' stroke-linecap='square' stroke-linejoin='round'/%3E%3C/svg%3E");
  display: block;
  position: absolute;
  bottom: -30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main--photo {
  width: 100%;
  margin-top: 121px;
}

.main__bottom {
display: flex;
  justify-content: space-between;
  padding: 70px 0;
  @include border-bottom;
}

.main__bottom--text {
  width: 1295px;
  color: $color-primary;
  font-family: Gilroy, sans-serif;
  font-size: 62px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  padding: 0 70px;
}

.bottom__text--bold {
  color: $color-primary;
  font-family: Gilroy,sans-serif;
  font-size: 62px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.main__bottom--square {
 @include d-f-f-d-c-a-i-f-e;
  width: 398px;
  padding: 60px 70px 60px 0;
  background: $color-primary;

}

.bottom__square--text {
  color: $color-third;
  text-align: right;
  font-family: Gilroy-Medium,sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 100% */
  text-transform: uppercase;
  margin-bottom: 30px;
}


.main__bottom--logo {
  @include d-f-jc-c-ai-c;
}

.bottom__logo--link {

}

.bottom__logo--item {
  width: 50px;
  margin-left: 30px;
}

.partners__bottom {
  width: 100%;
}

.partners__list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  padding: 70px 0;
}

.partners__bottom {



  @include border-bottom
}

.partners__item {
  width: 151px;
  height: 70px;
  padding: 15px 40px;
@include d-f-jc-c-ai-c;
  background: $color-third ;
  border-radius: 50px;
  cursor: pointer;
  margin: 20px 0;

  &:nth-child(6)  {
    width: 100px;
  }

  &:nth-child(3)  {
    width: 100px;
  }
}

// what-I-do-section_13andreym

.what-i-do{
  display: flex;
  flex-direction: row;
<<<<<<< HEAD
  border-bottom: 1px solid;
=======
  @include border-bottom;
>>>>>>> main
}

.what-i-do__background {
  width: 50%;
  height: 1137px;
  background-size: cover;
  background: url(../img/what-i-do/what-i-do-bgd.jpg) center;
}

.what-i-do__content-wrapper{
  width: 50%;
  display: flex;
  flex-direction: row;
  height: 1137px;


}

.what-i-do__content{
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
    justify-content: center;
    margin: auto;
}

.what-i-do__title{
  color: #252525;
    font-family: Gilroy;
    font-size: 140px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 100px;
    padding-top: 70px;
}


.what-i-do__list-item__title{
color: #000;
  font-size: 44px;
  font-style: normal;
  font-weight: 600;
  line-height: 48px;
  text-transform: uppercase;
  margin-bottom: 10px;
}



.what-i-do__list-text{
  color: #000;
    font-family: Inter, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 80px;
    position: relative;
}


.what-i-do__list-decoration::before{
content: '';
  /* Обязательное свойство для псевдоэлемента */
  position: absolute;
  /* Позиционируем псевдоэлемент абсолютно относительно родителя */
  bottom: 0;
  /* Размещаем полосу внизу элемента */
  left: 0;
  /* Выравниваем полосу по левому краю элемента */
  width: 100%;
  /* Растягиваем полосу на всю ширину элемента */
  height: 1px;
  /* Задаем высоту полосы */
  background-color: #252525;
  margin-bottom: -40px;
}


.list-item__title__digital::before{
  content: '01 ';
  color: #000;
    font-size: 44px;
    font-style: normal;
    font-weight: 400;
    line-height: 48px;
    /* 109.091% */
    text-transform: uppercase;
}

.list-item__title__art::before {
  content: '02 ';
  color: #000;
  font-size: 44px;
  font-style: normal;
  font-weight: 400;
  line-height: 48px;
  /* 109.091% */
  text-transform: uppercase;
}

.list-item__title__interaction::before {
  content: '03 ';
  color: #000;
  font-size: 44px;
  font-style: normal;
  font-weight: 400;
  line-height: 48px;
  /* 109.091% */
  text-transform: uppercase;
}

.list-item__title__motion::before {
  content: '04 ';
  color: #000;
  font-size: 44px;
  font-style: normal;
  font-weight: 400;
  line-height: 48px;
  /* 109.091% */
  text-transform: uppercase;
}



// selected_word_slavir23




.selected__word {
  @include padding70;
  @include border-bottom;
}


.selected__word--items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 40px;
  grid-row-gap: 70px;
}

.selected__word--title {
  color: $color-primary;
  text-align: center;
  font-family: Gilroy,sans-serif;
  font-size: 212px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 8.48px;
  text-transform: uppercase;
  margin-bottom: 50px;
}


.selected__word--card {
  display: flex;
  width: 567px;
  height: 567px;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.card__title {
  position: absolute;
  top: 10px;
  left: 20px;
  color: $color-secondary;
  font-family: Gilroy-Bold,sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 44px; /* 110% */
  text-transform: uppercase;
  margin-bottom: 30px;
}

.card__btn {


  @include d-f-jc-c-ai-c;
  width: 176px;
  height: 52px;


  text-align: center;
  border-radius: 50px;
  background: $color-third;

  color: $color-primary;

  font-family: Gilroy-Medium, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;





}


.card__btn--black {
  @include d-f-jc-c-ai-c;
  width: 176px;
  height: 52px;


  text-align: center;
  border-radius: 50px;
  background-color: $color-secondary;

  color: $color-third;

  font-family: Gilroy-Medium, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.card__link-one {
  position: absolute;
  top: 85px;
  left: 20px;
}

.card__link--second {
  position: absolute;
  top: 85px;
  left: 220px;
}

.card__link--three {


  position: absolute;


  bottom: 20px;
  right: 20px;


}

.card--photo {
  opacity: 0;

  transition: opacity 0.3s ease;

  &:hover {
    opacity: 1;

  }
}




.card--info {
  opacity: 0;

  transition: opacity 0.3s ease;

  &:hover {
    opacity: 1;

  }
}

.selected__work--all {
  @include d-f-jc-c-ai-c;
  @include padding70;
}

.all__btn {
  display: flex;
  padding: 15px 60px;
  align-items: center;
  border-radius: 50px;
  background: $color-third;
}

.all__btn--text {
  color: $color-primary;
  font-family: Gilroy-Medium, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

}

// my clients section

.clients-section__wrapper{
  @include border-bottom;
}

.clients-section{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.clients-section-title{
  @include header-2;
  padding-top: 50px;
  padding-bottom: 50px;
}

.clients-wrapper{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 100px;
}

.client-card{
  width: 507px;
  height: 480px;
  text-align: start;
  padding: 30px;

  .client-cards__logo{
    padding-bottom: 30px;
  }

 .client-card__title{
  color: #333;
    font-family: Gilroy,sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: 44px;
    padding-bottom: 30px;
    /* 110% */
 }

 .client-card__text{
  color: #000;
    font-family: Inter, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    padding-bottom: 30px;
    /* 150% */
 }
.client-card__name{
  color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    padding-bottom: 10px;
    /* 100% */
}

.client-card__job{
  color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    /* 100% */
}

.client-cards__logo--padding-bottom{
  padding-bottom: 43px;
}

}

.client-card__borders--right-bottom{
    border-bottom: 1px solid #252525;
      border-right: 1px solid #252525;
}

.client-card__borders--bottom{
  border-bottom: 1px solid #252525;
}

.client-card__borders--left-right{
  border-left: 1px solid #252525;
    border-right: 1px solid #252525;
}

.client-card__photo-wrapper{
  width: 70px;
  height: 70px;
  border-radius: 100%;
  overflow: hidden;
  margin-right: 20px;
}

.client-card__signature {
  display: flex;
  flex-direction: row;
  align-items: center;

}


