@font-face {
  font-family: "Gilroy";
  src: url(../Fonts/Gilroy-Bold.ttf);
  src: url(../Fonts/Gilroy-Regular.ttf);
  src: url(../Fonts/Gilroy-Medium.ttf);
  src: url(../Fonts/Gilroy-Light.ttf);
  src: url(../Fonts/Gilroy-Black.ttf);
  font-weight: normal;
  font-style: normal;
}



